.mermaid-render {
    cursor: pointer;
}
.mermaid-render:hover {
    opacity: 0.8;
}

.mermaid-zoom-modal {
    opacity: 1 !important;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto;
    padding: 0 unset;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mermaid-zoom-modal svg {
    display: block;
    cursor: zoom-in;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    max-width: none !important;
}

.mermaid-zoom-modal:first-child {
    display: block;
    background-color: rgb(0, 0, 0);
    margin: auto;
    width: 100%;
}

.mermaid-zoom-modal::-webkit-scrollbar {
    display: none;
}

.mermaid-rendered {
    display: none !important;
}

.mermaid-render .controls {
    position: absolute;
    top: 15px;
    right: 15px;
}
